<!doctype html>
<html lang="en">
  <head>
  	<title>WFHDuck</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="css/style.css">

	</head>
	<body class="img js-fullheight" style="background-image: url(images/bg.jpg);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Technical Request</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">Report a problem?</h3>
		      	<form th:action="@{/problemProcess}" class="signin-form" method="get">
		      		<div class="form-group"> 
	           	 <input type="text" id="username" name="username" class="form-control" th:value="${username}" hidden>
	            	</div>
	            <div class="form-group" > 
		            <select name="category" id="category" class="dropdown-item" required>
					    <optgroup label="Category">
					      <option value="Network">Network</option>
					      <option value="Desktop Computer">Desktop Computer</option>
					      <option value="Computer Peripherals">Computer Peripherals</option>
					      <option value="Mobile Device">Mobile Device</option>
					      <option value="Server">Server</option>
					      <option value="TV">TV</option>
					      <option value="Camera">Camera</option>
					      <option value="CCTV">CCTV</option>
					      <option value="Service">Service</option>
					      <option value="Other">Other</option>
					    </optgroup>
					</select>
	            </div>
		      		<div class="form-group">
		      			<textarea id="description" name="description" class="form-control" rows="4" cols="100" placeholder="Description" required></textarea>
		      		</div>
	            <div class="form-group">
	            	<button id="submit" type="submit" class="form-control btn btn-primary submit px-3">Confirm</button>
	            </div>
	          </form>
	          <p> </p>
		      	<form th:action="@{/backToInterface}" class="signin-form" method="get">
		      	<input type="text" id="username" name="username" class="form-control" th:value="${username}" hidden>
		      	<button id="submit" type="submit" class="form-control btn btn-primary submit px-3">Back</button>
		      	</form>
		      </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

