<!doctype html>
<html lang="en">
  <head>
  	<title>WFHDuck</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="css/style.css">

	</head>
	<body class="img js-fullheight" style="background-image: url(images/bg.jpg);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">View Opening Problem</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center"><p th:text="${username}"></p></h3>
		      <table style="width:100%;table-layout:auto" >
		      	  <tr style="vertical-align:top">
		      	  	<th> Category </th>
		      	  	<th> Description </th>
		      	  	<th> Status </th>
				  <tr th:each="problem: ${problems}">
				  	<form th:action="@{/problemAssignmentProcess}" class="signin-form" method="get">
				  	<input type="text" id="username" name="username" class="form-control" th:value="${username}" hidden>
				  	<input type="text" id="pid" name="pid" class="form-control" th:value="${problem.pId}" hidden>
				    <td><p th:text="${problem.category}"></p></td>
				    <td><p th:text="${problem.description}"></p></td>
				    <td><p th:text="${problem.status}"></p></td>
				    <td><button id="submit" type="submit" class="px-2 py-2 mr-md-1 rounded">Handle</button> </form></td>
				  </tr>
				</table>
				<p> </p>
		      	<form th:action="@{/backToInterface}" class="signin-form" method="get">
		      	<input type="text" id="username" name="username" class="form-control" th:value="${username}" hidden>
		      	<button id="submit" type="submit" class="form-control btn btn-primary submit px-3">Back</button>
		      	</form>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

